#large {
    width: 22vw;
    height: 4vw;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
#small {
    min-width: 8vw;
    min-height: 2vw;
    padding: 0 1vw;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}
#link {
    display: block;
    cursor: pointer;
}
.active {
    background-image: linear-gradient(45deg, #F21C41, #440743);
    cursor: pointer;
}
.active:hover {
    background-image: none;
    background-color: #220343;
}
.inactive {
    background-color: #b7b7b7;
}
#large .btnTxt {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}
#small .btnTxt {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#small .btnTxt img {
    width: 10px;
    height: 10px;
    margin-left: 1vw;
}
#link .btnTxt {
    font-size: 1.2rem;
    font-weight: 500;
    color: #464646;
    text-decoration: underline;
}
#link:hover .btnTxt {
    text-decoration: none;
}

/* small device view */
@media all and (max-width: 700px) {
    #large {
        width: 90%;
        height: 12vw;
    }
}