/* form bottom links */
.formLink, .formLink:visited {
    font-size: 1.4rem;
    font-weight: 500;
    color: #464646;
    text-decoration: underline;
}
.formLink:hover {
    text-decoration: none;
    font-weight: 400;
}

/* page and popup links */
.pageLink, .pageLink:visited {
    font-size: 1.2rem;
    font-weight: 300;
    color: #464646;
    text-decoration: underline;
}
.pageLink:hover {
    text-decoration: none;
    color: #220343;
}

/* side-bar links */
.barLink, .barLink:visited {
    font-size: 1.0rem;
    font-weight: 300;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}
.barLink:hover {
    text-decoration: none;
}
.barLinkActive {
    font-weight: 500;
    color: #220343;
}

/* nav menu links */
.navLink, .navLink:visited {
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.navLink:hover {
    color: #220343;
    font-weight: 500;
}
.navLinkActive {
    color: #220343;
    font-weight: 500;
}
.navLink img {
    width: auto;
    height: 1.8vw;
    margin-right: 15%;
}