#appScreen {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}
#sidebarHolder {
    background-color: #f7f7f7;
    background-position: center;
    background-repeat: no-repeat;
    background-position: bottom left;
}
#sidebarContent {
    width: 15vw;
    height: 99vh;
    padding-bottom: 1vh;
    background-color: rgba(247, 247, 247, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#appContent {
    width: 85vw;
    height: 85%;
    padding-bottom: 15%;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 100%;
}
.pageContent {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 5%; */
    flex-shrink: 0;
}

.fullWidthHolder {
    width: 80%;
    padding: 0 10%;
}
.column2Holder {
    width: 97.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    margin: 2% 0;
    padding-left: 2.5%;
}
.rowHolder {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 2% 0 1% 0;
    flex-shrink: 0;
}
.backButtonHolder {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    margin-top: 2%;
}

.titleHolder {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}
.titleHolder h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
}

.carouselItem {
    width: 20vw;
    height: 25vw;
}
.carouselItem img {
    width: 20vw;
    height: auto;
}