.headerImg {
    width: 29vw;
    height: auto;
    object-fit: contain;
}
.headerMsgTxt {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    color: #000;
    line-height: 1.5em;
}
.pickerLabel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.pickerTxt {
    font-size: 1.3rem;
    font-weight: 300;
    color: #464646;
}
.genderSelect {
    width: 50%;
    height: 2vw;
    border-radius: 10px;
    padding: 5% 5%;
    border: 1px solid #8d8d8d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.genderSelectTxt {
    font-size: 1.3rem;
    font-weight: 300;
    color: #212121;
    width: 100%;
    height: 2vw;
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.genderSelectTxt::-ms-expand {
    display: none;
}

/* small device view */
@media all and (max-width: 700px) {
    .headerImg {
        height: auto;
        width: 75vw;
    }
    .errorMsg {
        width: 75vw;
    }
    .genderSelectTxt {
        height: 6vw;
    }
}