@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@fontface {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
}

* {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	color: #000;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: none;
	border: none;
	background: transparent;
}
body, html, #root {
    height: 100%;
    width: 100%;
}

/* typo styles */
.headingLarge {
	color: #000;
	font-size: 1.7rem;
	font-weight: 500;
}
.headingMedium {
	color: #212121;
	font-size: 1.5rem;
	font-weight: 400;
}
.headingSmall {
	color: #949494;
	font-size: 1.3rem;
	font-weight: 500;
}
.highlightTxt {
	font-size: 1em;
	font-weight: 400;
}

/* container styles */
.spacer {
	margin: 10px 0;
}

/* error message styles */
.errorMsg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0;
}
.errorIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.errorTxt {
    font-size: 1.2rem;
    font-weight: 300;
    color: #F21C41;
}