.libraryHolder {
    display: flex;
    flex-direction: column;
    width: 44%;
    height: 32vw;
    padding: 2vw 5% 0 5%;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
}
.libraryTitle {
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3vw;
}
.libraryTitle h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
    text-align: center;
}
.libraryHolder ul {
    width: 100%;
    height: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.libraryHolder ul li {
    width: 90%;
    height: 16%;
    padding: 2% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.libraryHolder ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}
.libraryHolder ul li:hover {
    background-image: linear-gradient(-45deg, #F21C41, #440743);
    border-radius: 8px;
}
.libraryHolder ul li img {
    max-height: 2.05vw;
    width: auto;
}
.libraryHolder ul li:hover span {
    color: #fff;
}
.libraryHolder ul li span {
    font-size: 1.5rem;
    font-weight: 300;
    color: #000;
}
.libitemTitle {
    width: 30%;
    margin-left: 2vw;
}
.libitemCount {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}