.liveHolder {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    flex-shrink: 0;
}
.liveShow {
    width: 48vw;
    height: 18vw;
    border-radius: 8px;
    background-image: linear-gradient(45deg, rgba(242,28,65,0.3), rgba(68,7,67,0.55), rgba(68,7,67,0.75), rgba(7,0,67,0.9)), url("../assets/png/liveBanner.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.liveSchedule {
    width: 35%;
    height: 16vw;
    background-color: #F2F2F2;
    border-radius: 8px;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom: 1px dolid #dddddd;
}
.liveHeader, .liveFooter {
    width: 90%;
}
.liveHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5% 0 0 5%;
}
.liveHeader h2 {
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
}
.liveHeader h1 {
    font-size: 2.2rem;
    font-weight: 300;
    color: #fff;
}
.liveFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 5% 5%;
}
.liveButton {
    cursor: pointer;
    margin-right: 5%;
}
.liveButton img {
    width: 3.5vw;
}
.nowPlaying {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2%;
}
.showTitle {
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff;
}
.showlistTitle {
    background-color: #f2f2f2;
    font-size: 1.3rem;
    font-weight: 500;
    color: #464646;
    margin-bottom: 1vw;
}
.liveSchedule ul {
    list-style-type: none;
    width: 90%;
    padding-right: 10%;
    overflow: hidden;
}
.liveSchedule ul:hover {
    width: 95%;
    overflow-y: auto;
    padding-right: 5%;
}
.liveSchedule ul li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1vw 0;
}
.showListTitle {
    font-size: 1.3rem;
    font-weight: 300;
    color: #464646;
}
.showListTime {
    font-size: 1.2rem;
    font-weight: 500;
    color: #464646;
}