#fullscreen {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contentHolder {
    width: 100%;
    height: 100%;
    background-color: rgba(249, 249,249, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.loginHolder {
    width: 54vw;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}
.welcomeImgholder {
    grid-column: 1 / span 2;
}
.loginContentLeft, .loginContentRight {
    grid-column: span 1;
}
.welcomeImgholder, .loginContentLeft, .loginContentRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.welcomeImg {
    width: 44vw;
    height: auto;
    object-fit: contain;
}
.astroImg {
    max-width: 17vw;
    max-height: auto;
    object-fit: contain;
}
.formItem {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formItemName {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.linkHolder {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.formTxt {
    font-size: 1.4rem;
    font-weight: 300;
    color: #464646;
    margin: 0 5px;
}

/* small device view */
@media all and (max-width: 700px) {
    .loginHolder {
        width: 90vw;
    }
    .welcomeImg {
        height: auto;
        width: 75vw;
    }
    .loginContentLeft, .loginContentRight {
        grid-column: 1 / span 2;
    }
}