.modalHolder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.modalBody {
    width: 28vw;
    height: 15vw;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    border-radius: 10px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.modalItem {
    width: 100%;
}
h2.modalTitle {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    border-bottom: 1px solid #464646;
    padding-bottom: 5px;
}
p.modalTxt {
    font-size: 1.4rem;
    font-weight: 300;
    color: #000;
    text-align: justify;
}
.modalFooter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* small device view */
@media all and (max-width: 700px) {
    .modalBody {
        width: 80%;
        height: 70vw;
    }
    .modalItem {
        width: 80%;
    }
}