.playerHolder {
    width: 85vw;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f7f7f7;
    z-index: 200;
    border-top: 1px solid #dddddd;
}
.playerContent {
    width: 96%;
    height: auto;
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.sideHolder {
    width: 20%;
}

/* song info styles */
.songHolder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.songHolder img {
    width: 5vw;
    height: 5vw;
    margin-right: 1vw;
}
.songInfo h1 {
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
}
.songInfo h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: #464646;
}

/* controller styles */
.controllerHolder {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.controller {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.controller button {
    cursor: pointer;
    margin: 0 1vw;
}
.playPause {
    border-radius: 2.5vw;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
.playPause:hover {
    box-shadow: none;
}
.playPause img {
    min-width: 4vw;
    height: auto;
}
.prevNext img {
    max-height: 1.3vw;
    width: auto;
}

/* progress bar styles */
.progressHolder {
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.progressHolder div.rc-slider {
    width: 70%;
    margin: 0 1vw;
}
.progressHolder p {
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
}

/* like share volume styles */
.otherHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}
.playerLikeShare {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vw;
}
.volumeHolder {
    width: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.volumeHolder div.rc-slider {
    width: 35%;
    margin-left: 0.5vw;
}
.volumeHolder button {
    cursor: pointer;
}
.volumeHolder button img {
    width: 1.2vw;
    height: auto;
}