.statHolder {
    width: 45%;
    min-height: 32.7vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #dddddd;
}
.userStat {
    width: 100%;
    margin: 20% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statItem {
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statItem h5 {
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
}
.statItem h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
}
.infoHolder {
    width: 50%;
    min-height: 32.7vw;
    padding: 0 2%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.infoHolder h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.infoHolder h1 span {
    margin-bottom: 1vw;
    font-size: 1.8rem;
    font-weight: 500;
    color: #000;
}
.infoHolder img {
    max-width: 22vw;
    max-height: auto;
    margin-right: 2vw;
}

/* edit profile styles */
.profileEditHolder {
    width: 95%;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.profileSocialHolder {
    width: 35%;
    height: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileSocialButton {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileFormHolder {
    width: 60%;
    padding: 2%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.avatarHolder {
    width: 22%;
    padding: 0 1%;
    margin: 15% 2% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
}
.avatarHolder img {
    max-width: 100%;
    height: auto;
}
.profileFormHolder form {
    width: 72%;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.profileFormHolder form label {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.profileFormHolder form label span {
    width: 18%;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}
.profileFormHolder form label input {
    max-width: 65% !important;
    height: auto;
}
.profileFormHolder form label button {
    max-width: 80% !important;
    margin-left: auto;
    margin-right: 0;
}
.profileIconHolder{
    height: 100px;
    width: 100px;
    
}