.searchHolder {
    width: 85vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(249, 249, 249, 0.99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 2vw;
    z-index: 100;
}
.searchbarHolder {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    border-bottom: 1px solid #707070;
    padding-bottom: 1%;
}
.searchbarHolder img {
    max-width: 1.8vw;
    height: auto;
    margin-right: 1vw;
}
.searchTxt {
    width: 90%;
    color: #464646;
    font-size: 1.3rem;
    font-weight: 300;
    -webkit-appearance: none;
}
.searchTxt::-webkit-search-cancel-button {
    display: none;
}
.searchbarHolder button {
    cursor: pointer;
    align-self: flex-end;
}
.searchbarHolder button img {
    max-width: 1.8vw;
    height: auto;
}
.searchContent {
    width: 90%;
    height: 70vh;
    overflow-y: auto; 
    padding: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f2f2f2;
}
.searchContent div.vertListHolder {
    margin-bottom: 3vw;
}