.sidebar {
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightslategrey;
}
.sidebarLogo {
    width: 40%;
    height: auto;
}
.profileContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileLinkHolder {
    width: 90%;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.profileLinkHolder img {
    max-width: 2vw;
    max-height: 2vw;
    border-radius: 1vw;
    margin-right: 0.7vw;
}
.menuHolder {
    list-style-type: none;
    height: 500px;
}
.menuItem {
    margin: 20px 0;
}
.profileContent h4 {
    font-size: 1.3rem;
    color: #464646;
    font-weight: 300;
}
.profileContent h2 {
    font-size: 1.6rem;
    color: #464646;
    font-weight: 700;
}
.logoutHolder {
    width: 90%;
}
.btnLogout {
    margin-left: 0.6vw;
}