.inputTxt {
    width: 80%;
    height: 2vw;
    margin: 20px;
}
.inputName {
    width: 35%;
    height: 2vw;
}
.inputDate {
    width: 50%;
    height: 2vw;
}
.inputTxt, .inputName, .inputDate {
    border-radius: 10px;
    padding: 5% 5%;
    font-size: 1.3rem;
    font-weight: 300;
    color: #212121;
    border: 1px solid #8d8d8d;
}
.inputTxt::placeholder {
    font-size: 1.3rem;
    font-weight: 300;
    color: #464646;
}
.inputDisabled {
    width: 80%;
    height: 2vw;
    border-radius: 10px;
    padding: 5% 5%;
    border: 1px solid #dddddd;
}
.inputDisabled::placeholder {
    font-size: 1.3rem;
    font-weight: 300;
    color: #dddddd;
}
.inputTxtErr {
    width: 80%;
    height: 2vw;
    border-radius: 10px;
    padding: 5% 5%;
    font-size: 1.3rem;
    font-weight: 300;
    color: #212121;
    border: 1px solid #F21C41;
}

/* check box styles */
.chkBoxHolder {
    display: block;
    height: 15px;
    width: 15px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chkBoxHolder .inputCheckBox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #8d8d8d;
    background-color: transparent;
}
.chkBoxHolder:hover .inputCheckBox ~ .checkmark {
    background-color: #000;
}
.chkBoxHolder .inputCheckBox:checked ~ .checkmark {
    background-color: #000;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.chkBoxHolder .inputCheckBox:checked ~ .checkmark:after {
    display: block;
}
.chkBoxHolder .checkmark:after {
    left: 4px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}