.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header-text {
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
  font-stretch: wider;
}

.App-header {
  background-color: lavender;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  font-size: calc(10px + 2vmin);  
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
